<!DOCTYPE html>
<html>
  <head>
    <title>Social Auth</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 100px;
      }

      img {
        border-radius: 50%;
        width: 15%;
      }

      p {
        padding: 1rem 0;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-primary text-center">
          <span class="fa fa-user"></span>
        </h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="well">
              <img src="<%= profile.profileUrl %>" alt="Profile Photo" />
              <p>
                <strong>Id</strong>: <%= profile.id %> <br />
                <strong>Name</strong>: <%= profile.displayName %> <br />
                <strong>Provider</strong>: <%= profile.provider %>
              </p>
            </div>
            <div>
              <a href="/auth/facebook/signout" class="btn btn-danger"
                ><span class="fa fa-user"></span> Sign Out</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
